

<!--<input ng-model="searchText.name">-->
<!--<div ng-repeat="recipe in recipes | filter:searchText"-->
<div class="site-background">
    <div class="col-sm-6 col-md-12" ng-repeat="kid in kids" >
        <div class="kid-card">
            <div class="col-md-3">
                <p><a href="#/kid/{{ kid.id }}">{{ kid.name }}</a></p>

            </div>

            <div class="col-md-4">
                <!--child update on the next line-->
                <p class="kid-card-description">{{ kid.update }}</p>
            </div>

            <div class="col-md-2">
                <button type="button" class="btn btn-default"
                        ng-click="addUpdate()">Create a Memory</button>
            </div>



            <div class="col-md-3">
            <img width="200"
                 class="img-responsive recipe-card-image"
                 ng-src="{{ kid.photo }}">
            </div>
        </div>
    </div>
</div>