<div class="col-sm-1 col-lg-2"></div>
<div class="col-sm-4 col-lg-8">
    <div class="section">
         <div class="col-sm-2 col-md-3">
            <p class="para paraAdd"> Update your child's information below:</p>

            <label>Date:</label>
            <form class="form-inline">
                <div class="form-group">
                    <input ng-model="update.date" class="form-control">
                </div>
            </form>

            <br>
            <label>Height:</label>
            <form class="form-inline">
                <div class="form-group">
                    <p>Ft   <input ng-model="update.height_feet" class="form-control"></p>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <p>In   <input ng-model="update.height_inches" class="form-control"></p>
                </div>
            </form>


            <br>
            <label>Weight:</label>
            <form class="form-inline">
                <div class="form-group">
                    <p>lbs  <input ng-model="update.weight_pounds" class="form-control"></p>
                </div>
            </form>
            <form class="form-inline">
                <div class="form-group">
                    <p>oz   <input ng-model="update.weight_ounces" class="form-control"></p>
                </div>
            </form>
    </div>
</div>
<div class="col-sm-1 col-lg-2"></div>
