<div class="col-sm-1 col-lg-2"></div>
<div class="col-sm-4 col-lg-8">
    <div class="section">
        <div class="col-sm-2 col-md-5">
            <p class="para paraAdd"> Update your child's information below:</p>

            <form>
                <div class="form-group col-md-7">
                    <label>Date:</label>
                    <input ng-model="update.date" class="form-control">
                </div>
            <br>
                <div class="form-group col-md-7">
                    <label>Height:</label>
                    <input ng-model="update.height_feet" class="form-control">
                    <span>Ft</span>
                </div>

                <div class="form-group col-md-7">
                    <p>In <input ng-model="update.height_inches" class="form-control"></p>
                </div>
            <br>
                <div class="form-group col-md-7">
                    <label>Weight:</label>
                    <p>lbs <input ng-model="update.weight_pounds" class="form-control"></p>
                </div>
                <div class="form-group col-md-7">
                    <p>oz <input ng-model="update.weight_ounces" class="form-control"></p>
                </div>
            </form>

            <div>
                <button type="button" class="btn btn-default"
                        ng-click="saveUpdate()">Save Memory
                </button>
            </div>
            <div>
                <button type="button" class="btn btn-default"
                        ng-click="cancelUpdate()">Go back to Family
                </button>
            </div>
        </div>
        <!--Save and Cancel button takes you to Kid view-->

        <div class="col-sm-2 col-md-5">
            <p>Memory notes</p>
            <textarea mg-model="update.notes"></textarea>
        </div>
        <div class="col-sm-2 col-md-5">
            <div class="pictureArea">
                <br>
                <br>

                <p>Kid's picture goes here!
                    <img width=100%
                         src="{{ update.photo }}"
                         ng-show="update.photo"></p>

                <div class="form-group">
                    <input type="file" id="file" name="file" accept="image/gif, image/x-png, image/jpeg"
                           onchange="angular.element(this).scope().newPhoto()"/>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-1 col-lg-2"></div>