/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.site-background {
    background-color: #cccccc;
}

.site-foreground {
    background-color: yellow;
}
.kid-card {
    background-color: #ffffcc;
    border-radius: 30px;
    padding: inherit;
    padding-top: 1px;
    margin-top: 30px;
    height: 125px;
    width: 100%;
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    position: relative;
}

.kid-card .col-md-3 {
    font-family: "Bookman", Georgia, "Times New Roman", serif;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
}

.kid-card .col-md-6 {

}



.kid-card-image {
    width: 100%;
    height: 65%;
}



.kid-card-desription {
    margin-top: 15px;
}

.navbar-color {
    background-color: #FFF3AE;
}

body {
    background-color: #cccccc;
}

a {
    color: #2e2e25;

}